body {
    background: #000;
    scroll-:y none;
}

#app {

    h1 {
        color: #fff;
    }

    .nav {
        position: relative;
        display: none;
        h1 {
            text-align: center;
            padding: 20px 0 0 0;
        }

        h2 {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            text-align: right;
            padding: 20px;
            color: #fff;
        }

    }

    .view {
        top: 0;

        &.view-default {
            h1 {
                font-size: 48pt;
                color: #0cc;
            }

            ul {
                list-style: none;
                line-height: 140%;
                text-align: center;
                li {
                    display: inline-block;
                    margin: 8px;
                    a {
                        display: block;
                        padding: 8px;
                        background: #000;
                        color: #999;
                        font-weight: bold;
                        border: 1px solid rgba(255, 0, 255, 0.2);
                    }
                }
            }

        }
    }

    .footer {
        z-index: 100;
        position: absolute;
        bottom: 0;
        left: 0;
        right:0;
        height: 96px;

        p {
            font-size: 24pt;
            text-align: center;
            padding: 16px;
            color: #0cc;
        }

    }


    background: #000;
    color: #fff;
    font-size: 24pt;
    a {
        color: #fff;
    }

    .content {
        background: #111;
        width: auto;
        margin: 32px;

        .toc {
            color: #000;
            font-size: 12pt;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                color: #369;
                &.available{
                    color: #ddd;
                }
            }
        }
    }

    .canvas {
        position: absolute;
        top: 16px;
        left: 16px;
        bottom: 16px;
        right: 16px;
        z-index: 30;
    }

    .fx {
        position: absolute;
        top: 16px;
        left: 16px;
        bottom: 16px;
        right: 16px;
        z-index: 20;
    }

}